.pageLinks {
  &__link {
    font-size: 35px;
    color: $bodyColor;
    position: relative;
    font-weight: 600;

    @media (max-width: $columnWithPadding) {
      font-size: 2.4em;
    }

    &:before {
      content: "";
      display: block;
      background-color: $primaryColorLight;
      height: 10px;
      width: 0%;
      position: absolute;
      left: 0;
      bottom: 9%;
      z-index: -1;
      transition: width ease $transitionTiming;
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        width: 100%;
      }
      outline: none;
    }
  }
}
