body {
  font-family: houschka-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.h1 {
  font-family: hobeaux, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
}

.overline {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.075em;
}
